
.button {
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    transition: 450ms ease-in-out;
}

.button:hover {
    background: white;
    color: black;
}


.overlay {
    width: 100%;
    height: 100%;
    background: red;
    position: fixed;
    top: 0;
    left: 100vw;
    transition: 850ms ease-in-out;
}
