#target {
    width: 500px;
    height: 500px;
    background: #1E4BA2;
    /*border-radius: 30px;*/

    /*border: 10px solid #1E4BA2;*/
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 100vw;

    transition: 850ms ease-in-out;
}


#target:hover {
    /*border: 250px solid #1E4BA2;*/
    transition: 850ms ease-in-out;
}


.inside-fixed {
    background: red;
    width: 100px;
    height: 20px;
    margin-top: 2px;
}

.button {
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    transition: 450ms ease-in-out;
}

.button:hover {
    background: white;
    color: black;
}
