.about-dialog {
    width: 60vw;
    height: 100vw;
    position: fixed;
    background: #162236;

    top: 0;
    left: 100vw;
    transition: 450ms ease-in-out;
}

.header-bar {
    /*background: red;*/
    width: 100%;
    height: fit-content;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#about-close-button {
    /*background: red;*/
    width: 30px;
    height: 30px;
    display: inline-block;
}

#about-close-button > img {
    transition: 450ms ease;
}

#about-close-button:hover > img {
    transform: rotateZ(90deg);
}

#about-top-block > p {
    font-size: 18px;
    width: 100%;
    /*background: blueviolet;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*height: 40px;*/
    text-align: center;
    color: white;
}

#about-content-wrapper {
    /*background: cyan;*/
    width: 65%;
    height: 40%;
    margin: 0 auto;
}

#about-content-wrapper p,h1 {
    /*background: blueviolet;*/
    color: white;
    /*color: black;*/
}

/*#about-content-wrapper p {*/
/*    font-weight: 400;*/
/*}*/

#about-top-block {
    /*background: blue;*/
    width: 100%;
    height: fit-content;
}

#about-bottom-block {
    /*background: red;*/
    width: 70%;
    height: 40%;
    margin: 0 auto;
}

/* TODO: this is almost duplication from Gallery.css (.common) - refactor*/
.about-photo-wrapper {
    --image-height: 180px;
    height: var(--image-height);
    width: auto;

    display: inline-block;
    padding: 5px 5px 20px 5px;
    background: white;
    /*box-sizing: border-box;*/
    border-radius: 3px;
}

.about-photo-wrapper img {
    height: var(--image-height);
}

#about-bottom-block p {
    margin-bottom: 10px;
    font-size: 13px;
    color: #e7e7e7;
    /*color: black;*/
    /*font-weight: 600;*/
    line-height: 1.8em;

    /*background: #002827;*/
    padding: 5px;
    border-radius: 10px;
}

.write-me-button {
    background: #1E4BA2;
    width: 100px;
    height: fit-content;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    transition: 450ms;
}

.write-me-button:hover {
    background: #92DCE5;
    color: #212121;
}

.socials-stroke {
    /*background: black;*/
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.socials-stroke > div {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    margin-right: 10px;
    border-radius: 20px;
}