.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: relative;
}


.side-menu-container {
    height: 100%;
    width: 400px;
    display: inline-block;
}

.camera-view-container {
    /*background: cyan;*/
    width: calc(100% - 400px);
    height: 100%;
    display: inline-block;
    position: relative;
}


.camera-view {
    /*background: #b0b0c2;*/
    position: relative;
    width: 100%;
    height: 100%;
}


.background-photo {
    width: 60%;
    height: 500px;

    margin: auto auto;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*border: 1px solid red;*/

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 43%;
}


.camera-view > .camera-container {
    width: 450px;
    height: 450px;
    /*background: #1E4BA2;*/
    position: absolute;
    opacity: 1.0;

    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 60px;
    transition: 650ms ease-in-out;
    box-sizing: border-box;
    border: 15px solid #1E4BA2;
}


/*#rot-camera-image {*/
/*    width: 36%;*/
/*    height: auto;*/
/*    !*margin-top: 50px;*!*/
/*    margin: 0 auto 0;*/
/*    !*border: 1px solid yellow;*!*/
/*    display: block;*/
/*    position: relative;*/
/*}*/

.overlay {
    opacity: 1.0;
    background: black;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms ease;
}


.camera-view-zooming {
    transition: 2s ease-in-out;
    transform: scale(10);
    opacity: 0.0;
    height: 0;
    display: none;
}


.camera-background {
    --size: 300px;      /* should be equal to cardSize = 350px in Polaroid.js - TODO: fix this! */
    width: var(--size);
    height: var(--size);
    /*margin: 0 auto;*/
    background-repeat:no-repeat;
    background-size:contain;

    position: absolute;

    margin: auto auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}









