.main {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
}

.camera-view {
    /*background: #b0b0c2;*/
    width: 100%;
    position: relative;
}

#rot-camera-image {
    width: 36%;
    height: auto;
    /*margin-top: 50px;*/
    margin: 0 auto 0;
    /*border: 1px solid yellow;*/
    display: block;
    position: relative;
}

.overlay {
    opacity: 1.0;
    background: black;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms ease;
}


.gallery {
    background: yellow;
    width: 100%;
    height: 100%;
    display: none;
}


.camera-view-zooming {
    transition: 2s ease-in-out;
    transform: scale(10);
    opacity: 0.0;
}


.camera-background {
    --size: 350px;      /* should be equal to cardSize = 350px in Polaroid.js - TODO: fix this! */
    width: var(--size);
    height: var(--size);
    /*line-height: var(--size);*/
    /*text-align: center;*/
    /*background: green;*/
    margin: 0 auto;
    /*position: relative;*/
    background-repeat:no-repeat;
    background-size:contain;
}









