
.async-photo-border {
    background: #eee5e9;
    padding: 5px 5px 20px 5px;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
}

.async-photo {
    width: 400px;       /* default size of the placeholder before image is loaded */
    height: 400px;      /* default size of the placeholder before image is loaded */
    background: #eee5e9;
    background-size: cover;
    transition: 350ms ease-in-out;
}

@media screen and (max-width: 480px) {
    .async-photo-border {
        padding: 3px 3px 10px 3px;
    }

}