
.gallery-container {
    width: 70%;
    height: 400px;
    /*background: green;*/
    margin: 0 auto;

    transition: 850ms ease;
}

.gallery-container > div {
    display: inline-block;
    vertical-align: top;
}

.left {
    /*background: red;*/
    width: 60%;
}

.right {
    /*background: blue;*/
    width: 40%;
    height: 100%;
    position: relative;
}


.gallery {
    /*background: cyan;*/
    position: relative;
    top: 0;
    left: 0;
    margin: auto auto;
    display: inline-block;
    height: 400px;
    width: 65%;
    float: left;
}


/* TODO: rename this class ! */
.common {
    --height: 220px;
    position: absolute;
    background: white;
    display: inline-block;
    padding: 5px 5px 20px 5px;
    border-radius: 3px;
}

.rot {
    bottom: 25px;

    /*-moz-transform: skew(0deg, 12deg);*/
    /*-webkit-transform: skew(0deg, 12deg);*/
    /*-o-transform: skew(0deg, 12deg);*/
    /*-ms-transform: skew(0deg, 12deg);*/
    /*transform: skew(0deg, -15deg);*/

    transition: 10ms linear;
    transform-origin: center left;
}

.rot img {
    width: auto;
    height: var(--height);
}

.common:hover {
    margin-left: 16px;
    transition: all 450ms ease-in-out, transform 0ms;
}


.control-panel {
    /*background: blueviolet;*/
    width: 30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right;
}

.gallery-button {
    width: 70px;
    height: 90px;
    position: relative;
    display: inline-block;
    background: #1E4BA2;
    border-radius: 18px;
}

.gallery-button:hover {
    background: #3a3a65;
    cursor: pointer;
}

.next {
}

.prev {
    /*background: red;*/
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-container {
    /*background: cyan;*/
    position: absolute;
    width: 40vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.gallery-focus-image {
    --focus-image-height: 300px;
    height: var(--focus-image-height);
    width: auto;
    transition: 850ms;
}


.gallery-focus-image img {
    height: var(--focus-image-height);
    background: white;
    padding: 5px 5px 20px 5px;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;

    border-radius: 3px;
}


/*.gallery-button img {*/
/*    width: 100px;*/
/*    height: auto;*/
/*}*/

.gallery-button > div {
    background: #17173d;
    width: 70%;
    height: 55%;
    margin: auto auto;
    position: absolute;
    top: 10px;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    clip-path: circle(45% at 50% 50%);
    transition: 250ms ease-in-out;
}

.gallery-button:hover > div {
    background: #1E4BA2;
}

img.arrow {
    width: 25%;
    height: auto;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 3px;
}

.gallery-button p {
    color: white;
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.line {
    width: 80%;
    height: 2px;
    background: #F5F5F5;
    margin: 30px 0;
    transform: skew(-60deg);
}

.left-line {
    display: inline-block;
    float: left;
}

.right-line {
    display: inline-block;
    float: right;
    transform: skew(60deg);
}






