
.gallery-container {
    width: 70%;
    height: 400px;
    /*background: green;*/
    margin: 0 auto;

    transition: 850ms ease;
}

.gallery-container > div {
    display: inline-block;
    vertical-align: top;
}

.left {
    /*background: red;*/
    width: 60%;
}

.right {
    /*background: blue;*/
    width: 40%;
    height: 100%;
    position: relative;
}


.gallery {
    /*background: cyan;*/
    position: relative;
    top: 0;
    left: 0;
    margin: auto auto;
    display: inline-block;
    height: 400px;
    width: 65%;
    float: left;
}


/* TODO: rename this class ! */
.common {
    --height: 220px;
    position: absolute;
    background: white;
    display: inline-block;
    padding: 5px 5px 20px 5px;
    border-radius: 3px;
}

.rot {
    bottom: 25px;

    /*-moz-transform: skew(0deg, 12deg);*/
    /*-webkit-transform: skew(0deg, 12deg);*/
    /*-o-transform: skew(0deg, 12deg);*/
    /*-ms-transform: skew(0deg, 12deg);*/
    /*transform: skew(0deg, -15deg);*/

    transition: 150ms ease-in-out;
    transform-origin: center left;
}

.rot img {
    width: auto;
    height: var(--height);
}

.common:hover {
    margin-left: 16px;
    transition: all 450ms ease-in-out, transform 0ms;
}


.control-panel {
    /*background: blueviolet;*/
    width: 30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right;
}

.gallery-button {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    clip-path: circle(20% at 52% 50%);
    background: #212121;
}

.next {
}

.prev {
    /*background: red;*/
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-button:hover {
    opacity: 0.6;
}

.gallery-button:active {
    opacity: 0.4;
}

.text-container {
    /*background: cyan;*/
    position: absolute;
    width: 40vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*.text-container > p {*/
/*    width: fit-content;*/
/*    margin: 0 auto;*/
/*    !*background: red;*!*/
/*    padding: 10px;*/
/*    color: white;*/
/*}*/


.gallery-focus-image {
    --focus-image-height: 300px;
    height: var(--focus-image-height);
    width: auto;
    transition: 850ms;

}


.gallery-focus-image img {
    height: var(--focus-image-height);
    background: white;
    padding: 5px 5px 20px 5px;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;

    border-radius: 3px;
}


.gallery-button > img {
    width: 100px;
    height: auto;
}

img.arrow {
    display: block;
    /*background: blue;*/
    width: 20%;
    height: 20%;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.line {
    width: 80%;
    height: 2px;
    background: #F5F5F5;
    margin: 30px 0;
    transform: skew(-60deg);
}

.left-line {
    display: inline-block;
    float: left;
}

.right-line {
    display: inline-block;
    float: right;
    transform: skew(60deg);
}






