#hello-screen-overlay {
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 650ms ease-in-out;
}

#hello-screen-overlay > div:nth-of-type(1) {
    /*background: #484848;*/
    width: 50%;
    height: 100%;
    min-height: 2px;
    position: absolute;
    margin: auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hello-screen-overlay h1,h2 {
    margin: 7%;
}

.class-invisible {
    opacity: 0.0;
    transition: 850ms linear;
}

.class-visible {
    opacity: 1.0;
    transition: 850ms linear;
    font-family: 'Oswald', sans-serif;
}


.helloscreen-visible {
    opacity: 1.0;
    transition: 150ms ease-in-out;
}

.helloscreen-invisible {
    opacity: 0.0;
    transition: 150ms ease-in-out;
}


#continue-button {
    color: #92DCE5;

    padding: 5px 15px;
    border-radius: 10px;
    transition: 250ms ease;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    cursor: pointer;
}

#continue-button > span {
    /*background: red;*/
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1px;
    border-bottom: 2px solid #92DCE5;
}



/* MOBILE MEDIA QUERIES ========================================== */
@media screen and (min-aspect-ratio: 10/16) and (max-height: 600px) {
    #continue-button {
        bottom: 60px;
    }
}


@media screen and (max-width: 480px) {

    #hello-screen-overlay h1, h2 {
        margin: 0 auto 40px;
        padding: 0;
    }

    #hello-screen-overlay h1 {
        font-size: 24px;
        max-width: 100%;
    }

    #hello-screen-overlay h2 {
        font-size: 17px;
        max-width: 50%;
    }

    #hello-screen-overlay > div:nth-of-type(1) {
        width: 100%;
    }

    #continue-button > span {
        font-size: 17px;
    }
}


/* PADS MEDIA QUERIES ========================================== */
@media screen and (min-width: 481px) and (max-width: 900px) {

    #hello-screen-overlay {
        background: black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 650ms ease-in-out;
    }

    #hello-screen-overlay h1, h2 {
        margin: 0 auto 10%;
        padding: 0;
    }

    #hello-screen-overlay h1 {
        font-size: 35px;
        max-width: 100%;
    }

    #hello-screen-overlay h2 {
        font-size: 25px;
        max-width: 60%;
    }

    #hello-screen-overlay > div:nth-of-type(1) {
        width: 100%;
    }

    #continue-button > span {
        font-size: 22px;
    }

}
