* {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body {
    /*background: #020A0D;*/
    overflow: hidden; /* Hide scrollbars */
    background: url("../../resources/images/ep_naturalblack.webp") repeat;
}

.invisible {
    display: none;
}



