.menu-side {
    /*background: red;*/
    height: 100%;
    position: relative;
    width: 100%;
    /*transition: 100ms ease-in-out;*/
}

.menu-center {
    /*background: green;*/
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 450ms ease-in-out;
}

.menu-simple {
    width: fit-content;
    height: 100%;
    padding-left: 40px;
    margin-top: 20px;
    transition: 650ms ease-in-out;
}

.menu-item {
    color: white;
    /*background: #d64933;*/
}

.menu-item > span {
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /*background: green;*/
}

.menu-item span:hover {
    background: #eee5e9;
    cursor: pointer;
    color: #0a0a1a;
    transition: 150ms;
}

.large {
    font-size: 50px;
    padding-left: 40px;
}

.small {
    font-size: 20px;
    padding: 0;
}

#gallery-button.menu-item {
    margin-top: 60px;
}

#gallery-button.menu-item > span {
    color: #92DCE5;
    /*color: #1E4BA2;*/
}

#gallery-button.menu-item > span:hover {
    cursor: pointer;
    /*color: #1E4BA2;*/
    /*color: black;*/
    color: #d64933;
}

.menu-item.back-button {
    margin-bottom: 20px;
}

.menu-item.back-button > span {
    font-size: 16px;
    color: #92DCE5;
}

.menu-item.back-button > span:hover {
    cursor: pointer;
    color: #d64933;
}


/* ------ MOBILE ----- */
@media screen and (max-width: 480px) {

    .menu-center {
        /*background: green;*/
        width: 100%;
    }

    .large {
        font-size: 30px;
        /*padding-left: 20px;*/
    }

    #gallery-button.menu-item {
        margin-top: 30px;
    }
}


/* --- PADS --- */
@media screen and (min-width: 481px) and (max-width: 900px)  {

    .menu-center {
        /*background: green;*/
        width: 100%;
    }

    .large {
        font-size: 40px;
        /*padding-left: 20px;*/
    }

    #gallery-button.menu-item {
        margin-top: 30px;
    }
}


