.menu-side {
    /*background: red;*/
    height: 100%;
    position: relative;
    width: 100%;

    transition: 850ms ease-in-out;
}

.menu-center {
    /*background: green;*/
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 850ms ease-in-out;
}

.menu-simple {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    margin-top: 20px;
    transition: 850ms ease-in-out;
}

.menu-item {
    color: white;
    /*background: cyan;*/
}

.menu-item > span {
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /*background: green;*/
}

.menu-item span:hover {
    background: white;
    cursor: pointer;
    color: black;
    transition: 150ms;
}

.large {
    font-size: 50px;
    padding-left: 40px;
}

.small {
    font-size: 20px;
    padding: 10px;
}

#gallery-button.menu-item {
    margin-top: 60px;
}

#gallery-button.menu-item > span {
    color: #92DCE5;
}

#gallery-button.menu-item > span:hover {
    cursor: pointer;
    color: #1E4BA2;
}



