.menu-side {
    /*background: red;*/
    height: 100%;
    position: relative;
    width: 100%;
}

.menu-center {
    /*background: green;*/
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-simple {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    margin-top: 20px;
}

.menu-item {
    color: white;
    /*font-size: 50px;*/
    font-weight: 500;
    /*background: cyan;*/

    padding: 10px;
}

.large {
    font-size: 50px;
}

.small {
    font-size: 20px;
}

#gallery-button.menu-item {
    margin-top: 60px;
}



