.polaroid-card {
    /* width должен быть 350px как cardSize TODO: сделать динамически ? */
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    background: transparent;
    --padding: 10px;
    clip-path: circle(calc(30% - var(--padding)) at 50% 50%);
    transition: clip-path 0.5s, 850ms ease-in-out;
}


.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;

    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 20px;
    background: transparent;
    transition: 850ms ease-in-out;
}


.polaroid-card-hover:hover {
    clip-path: circle(calc(32% - var(--padding)) at 50% 50%);
}


.active {
    clip-path: circle(500% at 49% 47%);
    transition: 850ms ease-in-out;
    display: inline-block;
}


.active > .inner {
    background: #F5F5F5;
    transition: 850ms ease-in-out;
}


.polaroid-card div.img {
    display: block;
    background: red;
}


.filter {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    transition: 850ms ease-in-out;

    background: radial-gradient(
            circle at 50% 50%,
            transparent 30%,
            rgba(0, 0, 0, 0.7) 50%
    );
}