/*.polaroid-card {*/
/*    --width: 200px;     !* Должен быть такой же как cardSize в Polaroid.js - исправить hardcode!*!*/
/*    --padding: 10px;*/
/*    !*width: var(--width);*!*/
/*    background: transparent;*/
/*    padding: var(--padding) var(--padding) calc(3 * var(--padding));*/

/*    !*position: relative;*!*/
/*    margin: 0 auto;*/
/*    */
/*    !*top: 40px;*!*/
/*    !*left: 40%;*!*/
/*    !*clip-path: circle(calc(35.3% - var(--padding)) at 49% 47%);*!*/
/*    transition: clip-path 0.5s;*/
/*    display: block;*/
/*}*/


/*.polaroid-card {*/
/*    background: transparent;*/
/*    --padding: 10px;*/
/*    width: fit-content;*/
/*    margin: 0 auto;*/
/*    clip-path: circle(calc(35% - var(--padding)) at 50% 50%);*/
/*    transition: clip-path 0.5s;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    line-height: initial;*/
/*    position: relative;*/
/*}*/


.polaroid-card {
    /* width должен быть 350px как cardSize TODO: сделать динамически ? */
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    background: transparent;
    --padding: 10px;
    clip-path: circle(calc(30% - var(--padding)) at 50% 50%);
    transition: clip-path 0.5s;
}


.inner {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    background: red;
}


.polaroid-card-hover:hover {
    clip-path: circle(calc(38% - var(--padding)) at 50% 50%);
    background: transparent;
}


.active {
    clip-path: circle(500% at 49% 47%);
    background: #F5F5F5;
    padding: var(--padding) var(--padding) calc(3 * var(--padding));
    /*height: auto;*/
    transition: 850ms ease-in-out;
    display: inline-block;
}


.inner > img {
    display: block;
    width: auto;
    height: auto;
    /*object-fit: cover;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    transition: 850ms ease-in-out;
}

.active > .inner {
    /*width: 100%;*/
    /*height: auto;*/
}

.active > .inner > img {
    /*display: block;*/
    /*width: 100%;*/
    /*height: auto;*/
}