.polaroid-card {
    --width: 12%;
    --padding: 10px;
    width: var(--width);
    background: transparent;
    padding: var(--padding) var(--padding) calc(3 * var(--padding));

    position: absolute;
    margin: 0 auto;
    top: 89px;
    left: calc(49.5% - var(--width) / 2);
    clip-path: circle(calc(35.3% - var(--padding)) at 49% 47%);
    transition: clip-path 0.5s;
}

/*.polaroid-card:hover {*/
/*    clip-path: circle(calc(38.3% - var(--padding)) at 49% 47%);*/
/*    background: transparent;*/
/*}*/


.polaroid-card-hover:hover {
    clip-path: circle(calc(38.3% - var(--padding)) at 49% 47%);
    background: transparent;
}


.active {
    clip-path: circle(100% at 49% 47%);
    background: #F5F5F5;
}


.polaroid-card > img {
    display: block;
    width: 100%;
    height: auto;
}