.socials-dialog {
    width: 100vw;
    height: 100vh;
    background: rgba(7, 11, 20, 0.7);
    /*opacity: 0.5;*/
    position: fixed;

    left: 0;
    transition: 650ms ease;
}

.socials-dialog > div {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;

    border-radius: 10px;
    background: #eee5e9;
}

p {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

p:nth-child(1) {
    color: #d64933;
    font-size: 14px;
    cursor: default;
}

/*.socials-item {*/
/*    color: #7C7C7C;*/
/*    transition: 250ms ease;*/
/*    cursor: pointer;*/
/*}*/

/*.socials-item:hover {*/
/*    !*color: #92DCE5;*!*/
/*    color: #1E4BA2;*/
/*}*/


